.money_wrapper {
    border: 1px solid green;
    position: fixed;
    left: 37%;
    top: 30%;
    padding: 5%;
    background-color: green;
}

.balance {
    font-size: 23px;
    font-weight: bold;
    color: orange;
}

.addMoney {
    padding: 7px 15px;
    margin-left: 23%;
    margin-top: 10%;
    color: red;
    cursor: pointer;
}

.closeBalance {
    position: absolute;
    top: 10%;
    left: 87%;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.closeModalMoney {
    display: none;
}

.plusMoney {
    margin-top: 17%;
}
.plusMoneyNone {
    display: none;
}